body {
  margin: 0;
  font-family: 'NanumSquare';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'NanumSquare';
  src: url("./resource/font/NanumSquareOTF_acR.otf") format('otf');
}

html, body, #root, #root>div {
  height: 100%
}


.container {
  width: 960px;
  margin: 50px auto;
  font-size: var(--font-size-main);
}

.container hr { margin-bottom: 50px; }

.container * {
  margin: 0; 
  padding: 0; 
  box-sizing: border-box; 
  font-family: 'Noto Sans', 'Noto Sans KR', sans-serif;
}

.container ul { list-style-type: none; }

.container a { text-decoration: none; color: black; }

.container button { cursor: pointer; }

.container .link { 
  background-color: transparent; 
  color: black; 
  border: none; 
  font-size: var(--font-size-main); 
}

:root {
  --font-size-main : 20px;
 
}