body {
  margin: 0;
  font-family: 'NanumSquare';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'NanumSquare';
  src: url("./resource/font/NanumSquareOTF_acR.otf") format('otf');
}

html, body, #root, #root>div {
  height: 100%
}