.form {
    width: 400px;
    padding: 36px 48px 48px 48px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f2efee;
    border-radius: 11px;
    box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
}

.login-title {
    padding: 15px;
    font-size: 22px;
    font-weight: 600;
    text-align: center;
}

.login-form {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 16px;
}

.login-form label {
    display: block;
    margin-bottom: 8px;
}

.login-form input {
    width: 100%;
    padding: 1.2rem;
    border-radius: 9px;
    border: none;
}

.login-form input:focus {
    outline: none;
    box-shadow: 0 0 0 4px rgba(253, 242, 233, 0.5);
}


.btn--form {
    align-self: end;
    padding: 8px;
}

.btn,
.btn:link,
.btn:visited {
    display: inline-block;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    border-radius: 9px;
    border: none;

    cursor: pointer;
    font-family: inherit;

    transition: all 0.3s;
}

.btn-login {
    background-color: #ff8787;
    color: white;
}

.btn-login:hover {
    background-color: #ff7777;
    color: white;
    transform: translateY(-2px);
    box-shadow: 0 8px 20px rgba(255, 107, 107, 0.35);
}

/* 가입 버튼 */
.btn-join {
    background-color: #748ffc;
    color: white;
}

.btn-join:hover {
    background-color: #6c85f4;
    color: white;
    transform: translateY(-2px);
    box-shadow: 0 8px 20px rgba(116, 143, 252, 0.35);
}

.login-hr{
    margin: 16px 0px !important;
}

.button-group {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.button-group .btn {
    width: 100%;
}

.btn-cancel {
    background-color: #868e96;
    color: white;
}

.btn-cancel:hover {
    background-color: #808790;
    color: white;
    transform: translateY(-2px);
    box-shadow: 0 8px 20px rgba(134, 142, 150, 0.35);
}