.join-form {
    width: 30vw;  /* 너비를 400px로 설정하여 LoginForm과 JoinForm에 맞춤 */
    height: 84vh;
    display: flex;
    flex-direction: column;
    margin: -4vh auto;
    padding: 3vh 3.1vw;  /* 패딩 조정 */
    box-sizing: border-box;  /* 박스 모델 설정 */
    background-color: #f2efee;  /* 배경색 설정 */
    border-radius: 11px;  /* 모서리 둥글게 */
    box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);  /* 그림자 설정 */
}

.join-title {
    padding: 2.3vh 1.8vw;  /* 패딩은 유지 */
    font-size: 22px;  /* 글자 크기 설정 */
    font-weight: 600;  /* 글자 두께 설정 */
    text-align: center;  /* 텍스트 중앙 정렬 */
    margin: 0;  /* 마진을 0으로 설정하여 여백 제거 */
}

.join-form button {
    height: 5.9vh;
    align-self: end;
    padding: 1.4vh 1.3vw;
}

.admin-button-group {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin-top: 37px;
}

.admin-button-group .btn {
    width: 100%;
}